.nav-icon{
  width: 21px;
  height: 21px;
  transition: 0.3s scale ease-in-out;
}
.nav-icon:hover{
  scale: 1.1;
}
.cardInfo{
  
}
.heading{
  scale: 1.0;
  transition: 0.3s scale ease-in-out;
}
.heading:hover{
  scale: 1.1;
}